.layui-main{
    position: relative;
    height: 100%;
    width: 100%;
}
.registerPanel{
    position: absolute;
    width: 500px;
    top:50%;
    left:50%;
    transform: translate(-50%,50%);
}

.index_login,.index_register{
    padding:0 30px;
}
.index_login h3,.index_register h3{
    line-height: 80px;
    text-align: center;
    font-size: 22px;
}